mixin product_item({taste, portion, present, amount, text_selected, ended})
  .product-item(class=ended)
    .product-card
      .product-card-border
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84.667 127")
          path(d="M11.377 0a.524.524 0 0 0-.371.154L.154 11.006a.524.524 0 0 0-.154.371v112.486A3.141 3.141 0 0 0 3.137 127h78.392a3.141 3.141 0 0 0 3.137-3.137V3.137A3.141 3.141 0 0 0 81.529 0zm.219 1.047h69.933c1.167 0 2.09.923 2.09 2.09v120.726c0 1.167-.923 2.09-2.09 2.09H3.137a2.074 2.074 0 0 1-2.09-2.09V11.593z")
      .product-card-content
        .product-card-pretitle
          span.default Сказачное заморское яство
          span.hover Котэ не одобряет?
        .product-card-title Нямушка
        .product-card-subtitle #{taste}
        .product-card-desc
          div #{portion}
          div #{present}
        .product-card-img
          img(src="/assets/images/cat.png")
      .product-card-amount #{amount}
        .unit кг
    .product-action
      .product-buy
        | Чего сидишь? Порадуй котэ, #[button.btn-buy купи] #[span.dot .]
      .product-selected #{text_selected}
      .product-ended
        | Печалька, #[span #{taste}] закончился.
